<h1>チーム一覧</h1>
<table>
  <% Team.all.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team.id) %></td>
      <% if session[:user_id] == 0 %>
        <td><%= link_to "チーム名編集", edit_team_path(team.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>