<h1 id="admin_top">Groundテーブル</h1>

<%= render "layouts/admin/ground_search" %>

<ul id="anchors">
  <li><%= link_to "リセット" %></li>
  <li><%= link_to "新規登録画面", new_admin_ground_path %></li>
</ul>

<%= render "layouts/admin/table/index", m_all: @grounds, m_columns: @ground_columns, m_name: Ground  %>