<h1 id="admin_top">Gameテーブル</h1>

<%= render "layouts/admin/search/game" %>

<ul id="anchors">
  <li><%= link_to "検索リセット", admin_games_reset_path %></li>
  <li><%= link_to "新規登録画面", new_admin_game_path %></li>
</ul>

<%= render "layouts/admin/table/index", m_all: @games, m_columns: @game_columns, m_name: Game  %>