<h1>ユーザー一覧</h1>
<table>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>Eメール</th>
    <th>削除しますか？</th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <% if user.id == 0 %>
          出来ません
        <% else %>
          <%= button_to "はい", users_delete_path(key: user.id), method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>