<h1>購入画面</h1>
<h2>試合情報</h2>
<table>
  <tr>
    <th>開始日程時間</th>
    <th>対戦相手</th>
    <th>会場</th>
  </tr>
  <% game = Game.find(params[:gameid]) %>
  <tr>
    <td><%= game.startdatetime %></td>
    <td><%= Team.all.find(game.visitorid).name %></td>
    <td><%= Ground.all.find(game.ground_id).name %></td>
  </tr>
</table>
<h2>チケット一覧</h2>
<% Seatgroup.all.each do |seatgroup| %>
  <p><%= seatgroup.name %></p>
<% end %>
