<% @seatgroups = Seatgroup.all %>
<% @seatgroup_columns = @seatgroups.column_names %>

<h1>SeatGroupsテーブル</h1>
<table style="margin-left: 10px;">
  <tr>
    <% @seatgroup_columns.each do |column| %>
      <th style="padding-right: 10px;"><%= column %></th>
    <% end %>
  </tr>
  
  <% @seatgroups.each do |seatgroup| %>
    <tr>
      <% @seatgroup_columns.each do |column| %>
        <td style="padding-right: 10px;"><%= seatgroup[column] %></td>
      <% end %>
    </tr>
  <% end %>
</table>