<h1 id="admin_top">Seatgroupテーブル</h1>

<%= render "layouts/admin/search/seatgroup" %>

<ul id="anchors">
  <li><%= link_to "検索リセット", admin_seatgroups_reset_path %></li>
  <li><%= link_to "新規登録画面", new_admin_seatgroup_path %></li>
</ul>

<%= render "layouts/admin/table/index", m_all: @seatgroups, m_columns: @seatgroup_columns, m_name: Seatgroup  %>