@import "bootstrap-sprockets";
@import "bootstrap";
@import "header.scss";
@import "footer.scss";

.alert {
  margin-bottom: 0px;
  width: 100%;
  z-index: 10000;
}

#side {
  background-color: #ffebff;
  
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    
    li {
      &.list-top, a {
        padding: 5px 10px;
      }
      
      &.list-top {
        background-color: gray;
        color: white;
      }
      
      a {
        display: block;
        border-bottom: solid;
        border-color: gray;
        
        &:hover {
          background-color: red;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}