<h1 id="admin_top">Teamテーブル</h1>

<%= render "layouts/admin/search/team" %>

<ul id="anchors">
  <li><%= link_to "検索リセット", admin_teams_reset_path %></li>
  <li><%= link_to "新規登録画面", new_admin_team_path %></li>
</ul>

<%= render "layouts/admin/table/index", m_all: @teams, m_columns: @team_columns, m_name: Team  %>