    <%= link_to "球団一覧", teams_path %>
    <br>
    <% Team.all.sort.each do |team| %>
      <%= link_to team.name, team_path(team.id) %>
    <% end %>
    <br>
    <%= link_to "球場一覧", grounds_path %>
    <br>
    <% Ground.all.sort.each do |ground| %>
      <%= link_to ground.name, ground_path(ground.id) %>
    <% end %>
    <br>
    <p>©大原光平</p>