
      <ul style="display: flex">
        <li>試合結果・チケット購入はこちらから</li>
        <li class="hover">
        <%= link_to "チームから", teams_path %>
          <ul class="dropdown">
            <% Team.all.each do |team| %>
              <li><%= link_to team.name, team_path(team.id) %></li>
            <% end %>
          </ul>
        </li>
        <li class="hover">
          <%= link_to "球場から", grounds_path %>
            <ul class="dropdown">
              <% Ground.all.each do |ground| %>
                <li><%= link_to ground.name, ground_path(ground.id) %></li>
              <% end %>
            </ul>
        </li>
      </ul>